* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    padding: 12px 719px 12px 85px;
}

h2 {
    color: rgb(69, 194, 58);
}

.icon {
    height: 50px;
    position: absolute;
    z-index: 3;
    left: 20px;
    top: 5px;
    border-radius: 100%;
}

.redes {
    background-image: url(/img/branco.png);
    background-size: cover;
    position: absolute;
    z-index: 4;
    position: fixed;
}

.foto-de-fundo {
    background-image: url(./img/foto-emi.JPG);
    background-size: cover;
    height: 450px;
    background-position: 50% 25%;
    padding: 60px 30px 70px 30px;
}

.paragrafo {
    margin: 70px 0 0 0;
    max-width: 22%;
    background-image: url(./img/caderno.jpg);
    border: solid;
    padding: 10px 0 0 40px;
}

.insta {
    height: 50px;
    position: absolute;
    z-index: 1;
    left: 930px;
    top: 5px;
}

.tt {
    height: 50px;
    position: absolute;
    z-index: 2;
    left: 980px;
    top: 5px;
}