* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    padding: 10px 0 10px 20px;
}

h2 {
    color:   rgb(69, 194, 58) ;
}


.redes {
    background-image: url(/img/branco.png);
    background-size: cover;
}

.foto-de-fundo {
    background-image: url(./img/foto-emi.JPG);
    background-size: cover;
    height: 450px;
    background-position: 50% 25%;
    padding: 60px 30px 70px 30px;
}

.paragrafo {
    max-width: 22%;
    background-image: url(./img/caderno.jpg);
    border: solid;
    padding: 10px 0 0 40px;
}

.insta {
    height: 50px;
    position: absolute;
    z-index: 1;
    left: 930px;
    top: 5px;
}

.tt {
    height: 50px;
    position: absolute; 
    z-index: 2;
    left: 980px;
    top: 5px;
}